body {
    margin: 0 auto;
    background-color: #000;
    color: #fff;
    font-family: Arial;
    text-rendering: optimizeSpeed;
}

header {
    height: 150px;
    background-color: #333;
    padding: 20px;
    font-size: 25px;
}

.todo-list {
    margin: auto;
    width: 50%;
    border-radius: 15px;
    background-color: white;
    list-style-type: none;
}

.todo-item {
    color: black;
    padding: 30px 20px;
    width: 90%;
    font-size: 20px;
    border-bottom: 1px solid #eee;
}

input[type=checkbox] {
    margin-right: 15px;
}

input[type=checkbox]:focus {
    outline: 0;
}

footer {
    margin-top: 25px;
    height: 150px;
    background-color: #333;
    padding: 20px;
}

